*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.card-container{
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 940px;
    gap: 15px;
    margin: auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.tarjeta{
    height: 250px;
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 10px 30px;
    border-radius: 2%;
    border: 1px solid #dddddd;
    transition: all .4s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: linear-gradient(-135deg, rgba(48, 96, 255, 0.2), rgba(1, 255, 22, 0.2));
}

.tarjeta:hover{
    height: 500px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-header{
    height: 238px;
    align-items: center;
    display: flex;
}

.card-header img{
   position: relative;
   object-fit: cover;
   width: 200px;
   display: block;
   /* border-top: 8px solid #fff;
   border-bottom: 8px solid #fff; */
   object-fit: cover;
   margin: 20px auto;
   transition: all 0.3s ease;
}

.card-icons{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    list-style: none;
}

.card-icons li{
    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

@media (max-width: 970px){
    .card-container{
        grid-template-columns: 1fr;
        height: auto;
    }

}